<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Payroll.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="myservername" value="192.166.0.24"/>
    <add key="mydbname" value="Antsprodlive"/>
    <add key="winauth" value="N"/>
    <add key="userid" value="exe"/>
    <add key="mypwd" value="OlE:ZLUX[bzI"/>
    <add key="licserverip" value="192.166.0.5"/>
    <!-- <add key="mypwd" value="sa@536"/>-->
    <add key="WashcareFile" value="WASHCARELBLN.btw"/>
    <add key="Silkfile" value="WASHCARE SILKNew.btw"/>
    <add key="Pantfile" value="PANT LBL New.btw"/>
    <add key="Printername" value="Bullzip PDF Printer" />
    <!--<add key="Printername" value="TSC TTP-244 Pro"/>-->
    <add key="LaserPrinter" value="HP_LaserJet_Tank_MFP_1005"/>
    
    <add key="Printername_Vertical" value="TTP-244-Pro" />
    <add key="ProdMktbarcode" value="1"/>
    <add key="Production" value="Y"/>

    <add key="TalyBit" value="32"/>
    <add key="Seconds" value="300"/>
    <add key="WHSSeconds" value="300"/>
    <add key="CompanyName" value="ATITHYA CLOTHING COMPANY"/>
    <add key="CmpAdd" value="Kovilpappkudi, Madurai"/>
    <add key="period" value="FY-25-26"/>
    <add key="printerip" value="192.166.1.10"/>
    <add key="prnport" value="9100"/>
    <add key="Citrix" value="N"/>
    <add key="PrintLpt" value="N"/>
    <add key="OS" value="WIN"/>
    <add key="TSCPrinter_1" value="/dev/usb/lp0" />
    <add key="TSCPrinter_2" value="/dev/usb/lp1" />
    <add key="PrintAPI" value="http://192.166.1.40/crystalprintservice/api/Print/PrintReport" />
    <add key="Linuxfilepath" value="/home/test/Desktop/MyApp/automrpsticker/" />
    <add key="tempfolder" value="/home/test/Desktop/MyApp/temp" />
    <add key="AppPath" value="/home/test/Desktop/MyApp/automrpsticker/" />
    <add key="XLfilepath" value="/home/test/Desktop/MyApp/xl/" />
    <add key="tempfolder" value="/home/test/Desktop/MyApp/temp"/>
    
    <add key="eform" value="d:\Transport reports\eTokenForRHL\MISReport.exe"/>
    <add key="RDR" value="Sale Order New"/>
    <add key="INV" value="GST INVOICE"/>
    <add key="INVPrint" value="GST INVOICE"/>
    <add key="RDRPrint" value="Sales Order Form exe"/>
    <add key="RINVPrint" value="SALES INVOICE 09-07-2016 New"/>
    <!--<add key="FRW" value="Despatch Forwarding Note Print"/>-->
    <add key="FRW" value="Despatch Forwarding Note Print-DelNum"/>
    <add key="TRANSPORT" value="CN Scheme Discount Einvoice TPT"/>
    <add key="Card" value="rhl order check card"/>
    <add key="GATEPASS" value="Gatepass"/>
    <add key="MGATEPASS" value="GatepassM"/>
    <add key="tripsummary" value="tripsummary"/>
    <add key="lrpass" value="lrpass"/>
    <add key="address" value="Address Print ws bundle"/>
    <add key="cour" value="PARTY COURIER DETAILS"/>
    <add key="Companycode" value="ACC"/>
    <add key="PERIOD" value="FY-25-26"/>
    <add key="GPFrom" value="AATARSH CLOTHING COMPANY"/>
    <add key="GPSu" value="GATEPASS SUMMARY REPORT"/>
    <add key="orderbackprint" value="Order back print"/>
    <add key="Remainder" value="Order back print"/>
    <add key="CBS" value="Customer Balance Statement"/>
    <add key="comPort" value="COM3"/>
    <add key="Card" value="rhl order check card"/>
    <add key="address" value="Address Print ws bundle"/>

    <add key="TSCPrinter_1" value="/dev/usb/lp0" />
    <add key="TSCPrinter_2" value="/dev/usb/lp1" />
    <add key="PrintAPI" value="http://192.166.1.40/crystalprintservice/api/Print/PrintReport" />
    <add key="AppPath" value="/home/test/Desktop/MyApp/automrpsticker/" />
    <add key="CutterEnable" value="Y"/>
    <add key="barmsg" value="Y"/>
    <add key="auto" value="N"/>
    
    
    <!--DBINV = System.Configuration.ConfigurationManager.AppSettings("INV")
    DBINVPrint = System.Configuration.ConfigurationManager.AppSettings("INVPRINT")
    DBRINVPrint = System.Configuration.ConfigurationManager.AppSettings("RINVPRINT")
    DBTRANS = System.Configuration.ConfigurationManager.AppSettings("TRANSPORT")
    DBFRW = System.Configuration.ConfigurationManager.AppSettings("FRW")
    dbcour = System.Configuration.ConfigurationManager.AppSettings("cour")
    dbcomp = System.Configuration.ConfigurationManager.AppSettings("Companycode")
    dbperiod = System.Configuration.ConfigurationManager.AppSettings("PERIOD")
    dbGATEPASS = System.Configuration.ConfigurationManager.AppSettings("GATEPASS")
    dbmGATEPASS = System.Configuration.ConfigurationManager.AppSettings("mGATEPASS")
    dbtripsummary = System.Configuration.ConfigurationManager.AppSettings("tripsummary")
    dblrpass = System.Configuration.ConfigurationManager.AppSettings("lrpass")
    dbGPSU = System.Configuration.ConfigurationManager.AppSettings("GPSu")
    dbobp = System.Configuration.ConfigurationManager.AppSettings("orderbackprint")-->


  </appSettings>  
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
